button, a, select, input, div {
	-webkit-tap-highlight-color: transparent;
}

#app {
	width: 100%;
}

#app-navigation {
	color: #222;
}

#app-navigation > div:first-child {
	overflow-y: auto;
}

.app-navigation-new,
#list-category {
	border-top: 1px solid var(--color-border);
}

#list-category > li {
	padding: 0.8em 1em;
	cursor: pointer;
	opacity: 0.57;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#list-category > li:hover {
	opacity: 1;
}

#list-category > .active {
	box-shadow: inset 4px 0 var(--color-primary-element);
	opacity: 1;
}

#list-category > li > svg {
	fill: #222;
	width: 1.2em;
	height: 1.5em;
	vertical-align: baseline;
	margin-right: 0.5em;
}

.app-settings-item {
	background-position: 0 center;
	opacity: 0.57;
}

.app-settings-item:hover {
	opacity: 1;
}

.app-settings-item > button,
.app-settings-item > button:active {
	margin: 0;
	padding: 0.25em 1.5em;
	border: none;
	background: none !important;
	font-weight: inherit;
	width: 100%;
	text-align: left;
}

/* calendar */

#calendar2 {
	margin: 0.5em;
}

#calendar2 > div {
	display: flex;
	justify-content: space-between;
}

#calendar2 > div > button {
	width: 34px;
	height: 34px;
}

#calendar2 button .arrow {
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	display: block;
}

#calendar2 .arrow.prev {
	border-right: 6px solid var(--color-main-text);
	margin-right: 2px;
}

#calendar2 .arrow.next {
	border-left: 6px solid var(--color-main-text);
	margin-left: 2px;
}

#calendar2 table {
	width: 100%;
}

#calendar2 tr:hover {
	background: none;
}

#calendar2 th {
	text-align: center;
	font-weight: bold;
	width: calc(100% / 7);
	color: var(--color-primary);
}

#calendar2 td {
	text-align: center;
	vertical-align: middle;
	padding: 0.2em 0;
}

#calendar2 td button {
	border: 1px solid transparent;
	background: none;
	margin: 0;
	padding: 0;
	width: 34px;
	height: 34px;
	font-weight: normal;
	opacity: 0.66;
	transition: opacity 0.25s;
}

#calendar2 td button:hover {
	opacity: 1 !important;
}

#calendar2 td.outside button {
	opacity: 0.2;
}

#calendar2 td.today button {
	border-color: var(--color-primary);
	opacity: 1;
}

#calendar2 td.has-entries button {
	font-weight: bold;
	text-decoration: underline double;
}

#calendar2 td.selected button {
	border-color: #bbbbbb;
	background-color: #eeeeee;
}

#calendar2 td.today.selected button {
	border-color: var(--color-primary);
	background-color: var(--color-primary-element-light);
	color: #ffffff;
	opacity: 0.75;
}

/* content */

th.sort {
	cursor: pointer;
}

th.sort * {
	pointer-events: none;
}

th .sort-indicator {
	width: 10px;
	height: 8px;
	margin-left: 5px;
	display: inline-block;
	vertical-align: text-bottom;
	opacity: 0.3;
}

th .sort-indicator.hidden {
	visibility: hidden;
}

th:hover .sort-indicator.hidden {
	visibility: visible;
}

#app-content table {
	width: 100%;
}

#app-content thead,
#app-content th {
	position: sticky;
	z-index: 60;
	top: 50px;
	background-color: var(--color-main-background-translucent);
	color: var(--color-text-maxcontrast);
	height: 4em;
}

#app-content th,
#app-content td {
	padding: 0.5em;
	vertical-align: middle;
	border-bottom: 1px solid var(--color-border);
}

#app-content table .selection {
	padding: 1.2em 0 1.2em 1.2em;
	width: 2.4em;
}

#app-content table .selection div {
	width: 1.2em;
	height: 1.2em;
	border: 1px solid #878787;
	opacity: 0.3;
	background-position: center;
	cursor: pointer;
}

#app-content tbody tr.selected {
	opacity: 0.3;
}

#app-content tbody td > div {
	display: flex;
	align-items: center;
}

#app-content tbody td > div > span {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 0;
	flex-grow: 1;
}

#app-content tbody tr.selected .selection div,
#app-content tbody tr:hover .selection div {
	opacity: 1;
}

#app-content tbody tr.selected .selection div {
	background-color: var(--color-primary-element);
	background-image: url('/core/css/../img/actions/checkbox-mark.svg');
	border-color: var(--color-primary-element);
}

#app-content table .count {
	width: 5em;
	text-align: right;
}

#app-content table .aisle {
	display: none;
}

@media only screen and (min-width: 560px) {
	#app-content table .aisle {
		display: table-cell;
		width: 30%;
	}
}