{{ define "base" }}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
</head>
<body>
<table cellspacing="0" width="100%" style="margin:0px auto;max-width:640px;color:#202020;line-height:24px;font-size:16px;font-family:sans-serif;">
	<tr>
		<td>
			{{ block "content" . }}{{ end }}
		</td>
	</tr>
	<tr>
		<td style="text-align:center;border-top:1px solid #d0d0d0;color:#c0c0c0;">
			{{ raw (l10n "email.foot") }}
		</td>
	</tr>
</table>
</body>
</html>
{{ end }}

{{ define "token-button" }}
<p style="padding-top:16px;padding-bottom:16px;text-align:center;">
	<a href="{{ index . 0 }}" style="padding:16px;background-color:#1793d1;text-decoration:none;color:#ffffff;">
		{{ l10n (index . 1) }}
	</a>
</p>
{{ end }}

{{ define "token-plain" }}
<p>{{ l10n "email.plain" }}</p>
<p style="padding:16px;font-size:14px;color:#606060;background-color:#f4f4f4;border:1px solid #e8e8e8;">
	{{ . }}
</p>
{{ end }}

{{ template "base" . }}
