# binaries & published files
/out

# file manager metadata
.desktop.ini
.directory
.ds_store
.DS_Store

# client-specific build environment
.make/env.mk
.make/env.bat
.env

# intermediate build files
/internal/web/static/app/
/internal/web/static/login/
/internal/web/static/img/icons.svg
