{{define "jumbotron" }}
<div id="jumbo">
	<div>
		{{ template "jumbo-head" }}
	</div>
	<nav>
		{{ template "jumbo-item" all (l10n "jumbo.foodhead") (l10n "jumbo.foodintro") "apple" "database" }}
		{{ template "jumbo-item" all (l10n "jumbo.recipehead") (l10n "jumbo.recipeintro") "recipe" "recipes" }}
		{{ template "jumbo-item" all (l10n "jumbo.diaryhead") (l10n "jumbo.diaryintro") "diary" "tracking" }}
		{{ template "jumbo-item" all (l10n "jumbo.shophead") (l10n "jumbo.shopintro") "shop" "shopping" }}
	</nav>
</div>
{{ end }}

{{ define "jumbo-head"}}
<h1>
	{{ l10n "jumbo.title" }}
</h1>
<h2>
	{{ l10n "jumbo.subtitle" }}
</h2>
{{ end }}

{{ define "jumbo-item" }}
<a href="#{{ index . 3 }}">
	<figure>
		<figcaption>
			<h2>{{ index . 0 }}</h2>
			<p>{{ index . 1 }}</p>
		</figcaption>
		<svg viewBox='0 0 24 24'><use href='/img/icons.svg#{{ index . 2 }}'/></svg>
		<svg class="arrow" viewBox='0 0 24 24'><use href='/img/icons.svg#forward'/></svg>
	</figure>
</a>
{{ end }}
