{{ define "more" }}
<section>
	<h2>{{ l10n "more.title" }}</h2>
	<div id="more">
		{{ template "more-item" all (l10n "more.apihead") (l10n "more.apibody") "api" }}
		{{ template "more-item" all (l10n "more.privacyhead") (l10n "more.privacybody") "privacy" }}
		{{ template "more-item" all (l10n "more.sourcehead") (l10n "more.sourcebody") "github" }}
	</div>
</section>
{{ end }}

{{ define "more-item" }}
<figure>
	<svg viewBox='0 0 24 24'><use href='/img/icons.svg#{{ index . 2 }}'/></svg>
	<figcaption>
		<h2>{{ index . 0 }}</h2>
		<p>{{ index . 1 }}</p>
	</figcaption>
</figure>
{{ end }}