/* open-sans-300 - latin_latin-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/open-sans-v16-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url('/fonts/open-sans-v16-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/fonts/open-sans-v16-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/open-sans-v16-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
		url('/fonts/open-sans-v16-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/open-sans-v16-latin_latin-ext-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-300italic - latin_latin-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	src: url('/fonts/open-sans-v16-latin_latin-ext-300italic.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
		url('/fonts/open-sans-v16-latin_latin-ext-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/fonts/open-sans-v16-latin_latin-ext-300italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/open-sans-v16-latin_latin-ext-300italic.woff') format('woff'), /* Modern Browsers */
		url('/fonts/open-sans-v16-latin_latin-ext-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/open-sans-v16-latin_latin-ext-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin_latin-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/open-sans-v16-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('/fonts/open-sans-v16-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/fonts/open-sans-v16-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/open-sans-v16-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
		url('/fonts/open-sans-v16-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/open-sans-v16-latin_latin-ext-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-italic - latin_latin-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: url('/fonts/open-sans-v16-latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Italic'), local('OpenSans-Italic'),
		url('/fonts/open-sans-v16-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/fonts/open-sans-v16-latin_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/open-sans-v16-latin_latin-ext-italic.woff') format('woff'), /* Modern Browsers */
		url('/fonts/open-sans-v16-latin_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/open-sans-v16-latin_latin-ext-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin_latin-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/open-sans-v16-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('/fonts/open-sans-v16-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/fonts/open-sans-v16-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/open-sans-v16-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
		url('/fonts/open-sans-v16-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/open-sans-v16-latin_latin-ext-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700italic - latin_latin-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: url('/fonts/open-sans-v16-latin_latin-ext-700italic.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
		url('/fonts/open-sans-v16-latin_latin-ext-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/fonts/open-sans-v16-latin_latin-ext-700italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/open-sans-v16-latin_latin-ext-700italic.woff') format('woff'), /* Modern Browsers */
		url('/fonts/open-sans-v16-latin_latin-ext-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/open-sans-v16-latin_latin-ext-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

:root {
	--border: 1px solid #aaaaaa;
	--border-light: 1px solid #e0e0e0;

	--color-background: #f8f8f8;
	--color-primary: #13ad73;
	--color-primary-dark: #038d53;
	--color-secondary: #f2ac05;
	--color-text: #2c2c2c;

	--font-stack: "Open Sans", Helvetica, Arial, sans-serif;
}

html {
	font-size: 16px;
	line-height: 1.5;
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-stack);
	color: var(--color-text);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

*, *::before, *::after {
	box-sizing: border-box;
}

a:focus,
a:active,
input:focus,
input:active {
	outline: none;
}

a {
	text-decoration: none;
	color: var(--color-primary);
	transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}

li {
	line-height: 2;
}

header {
	position: fixed;
	width: 100%;
	padding: 0.5em;
	border-bottom: var(--border-light);
	background-color: #fff;
	z-index: 100;
	display: flex;
	align-items: center;
	transition: border-color 0.5s ease-in-out;
}

header #logo {
	height: 3em;
	width: 3em;
}

header #app-name {
	margin-left: 0.5em;
	font-size: 2em;
	text-transform: uppercase;
	flex-grow: 1;
	color: var(--color-primary);
}

header #app-name span:last-child {
	font-weight: 300;
}

header nav#auth {
	font-size: 1.2em;
	display: flex;
	align-items: center;
}

nav#auth > a {
	padding: 0.25em 0.5em;
}

nav#auth > a:last-child {
	border: 2px solid var(--color-primary);
	border-radius: 8px;
}

nav#auth > a:hover,
nav#auth > a:active,
nav#auth > a:focus {
	color: var(--color-primary-dark);
	border-color: var(--color-primary-dark);
}

main {
	flex-grow: 1;
	margin-top: 4em;
}

#jumbo {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: var(--color-background);
	min-height: calc(100vh - 2em);
	padding-bottom: 2em;
}

#jumbo > div {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 2em;
	text-align: center;
}

#jumbo > div h1 {
	margin: 0;
	font-weight: 300;
	font-size: 4em;
}

#jumbo > div h2 {
	margin: 0 auto;
	font-weight: 400;
	font-size: 1.5em;
	color: #888;
	max-width: 960px;
	line-height: 125%;
}

#jumbo nav {
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

#jumbo figure {
	border-radius: 8px;
	box-shadow: 0 0 8px #ddd;
	flex-basis: 25%;
	flex-grow: 1;
	margin: 1em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	position: relative;
}

#jumbo figure figcaption {
	flex-grow: 1;
	text-align: center;
	margin-bottom: 1em;
}

#jumbo figure figcaption h2 {
	font-size: 1.5em;
	margin: 0;
	font-weight: 300;
	color: var(--color-primary);
}

#jumbo figure > svg {
	fill: var(--color-secondary);
	width: 33%;
}

#jumbo figure a {
	position: absolute;
	bottom: 1em;
	right: 1em;
	width: 1.5em;
	height: 1.5em;
}

#jumbo figure a svg {
	fill: var(--color-primary);
	transition: transform 0.5s ease-in-out;
}

#jumbo figure:hover a svg {
	transform: rotate(90deg);
}

.section-separator {
	border-bottom: var(--border-light);
	position: relative;
}

.section-separator > div {
	position: absolute;
	top: -2em;
	left: 50%;
	transform: translateX(-50%);
	width: 4em;
	height: 4em;
	border-radius: 2em;
	border: var(--border-light);
	background-color: #fff;
	background-image: url("/img/logoflat.svg");
	background-size: 3em;
	background-repeat: no-repeat;
	background-position: center;
}

section {
	min-height: calc(100vh + 4em);
	padding: 4em 2em;
}

section h2 {
	font-weight: 300;
	font-size: 2em;
	margin-bottom: 0;
}

section > h2 {
	text-align: center;
	font-size: 4em;
	margin: 0 0 1em;
}

section article {
	width: 50%;
}

#more {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#more figure {
	flex-basis: 25%;
	margin: 1em 1em 3em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#more figure figcaption {
	flex-grow: 1;
	text-align: center;
}

#more figure figcaption h2 {
	font-size: 1.2em;
	margin: 0;
	font-weight: 400;
	color: var(--color-primary);
}

#more figure > svg {
	fill: var(--color-secondary);
	width: 33%;
	margin-bottom: 1em;
}

footer {
	padding: 2em;
	background-color: var(--color-primary);
	color: #ffffff;
	font-size: 14px;
}

footer > div {
	margin: 0 auto;
	max-width: 960px;
	display: flex;
	justify-content: space-between;
}

footer nav a {
	margin: 0 0.5em;
	color: #ffffff;
	font-weight: bold;
}

footer nav a:hover {
	color: var(--color-secondary);
}