<!DOCTYPE html>
<html lang='{{ l10n "lang" }}' dir="ltr">
	<head>
		{{ template "meta" . }}
		<link rel="stylesheet" href="/css/home.css">
	</head>

	<body>
		<header>
			<img src="/img/logomono.svg" id="logo">
			<div id="app-name">
				<span>Hey</span><span>Apple<sup>beta</sup></span>
			</div>
			<nav id="auth">
				<a href="/auth">{{ l10n "home.login" }}</a>
				<a href="/auth#/signup">{{ l10n "home.register" }}</a>
			</nav>
			<aside class="warn">{{ l10n "home.betawarn" }}</aside>
		</header>
		<main>
			{{ template "jumbotron" . }}
			{{ template "section-separator" "database" }}

			<section>
				<article>
					<h2>{{ l10n "food.title" }}</h2>
					<p>{{ l10n "food.subtitle" }}</p>
					<ul>
						<li>{{ l10n "food.list.1" }}</li>
						<li>{{ l10n "food.list.2" }}</li>
						<li>{{ l10n "food.list.3" }}</li>
					</ul>
				</article>
			</section>

			{{ template "section-separator" "recipes" }}

			<section>
				<article>
					<h2>{{ l10n "recipe.title" }}</h2>
					<p>{{ l10n "recipe.subtitle" }}</p>
					<ul>
						<li>{{ l10n "recipe.list.1" }}</li>
						<li>{{ l10n "recipe.list.2" }}</li>
						<li>{{ l10n "recipe.list.3" }}</li>
					</ul>
				</article>
			</section>

			{{ template "section-separator" "tracking" }}

			<section>
				<article>
					<h2>{{ l10n "diary.title" }}</h2>
					<p>{{ l10n "diary.subtitle" }}</p>
					<ul>
						<li>{{ l10n "diary.list.1" }}</li>
						<li>{{ l10n "diary.list.2" }}</li>
						<li>{{ l10n "diary.list.3" }}</li>
						<li>{{ l10n "diary.list.4" }}</li>
						<li>{{ l10n "diary.list.5" }}</li>
					</ul>
				</article>
			</section>

			{{ template "section-separator" "shopping" }}

			<section>
				<article>
					<h2>{{ l10n "shop.title" }}</h2>
					<p>{{ l10n "shop.subtitle" }}</p>
					<ul>
						<li>{{ l10n "shop.list.1" }}</li>
						<li>{{ l10n "shop.list.2" }}</li>
						<li>{{ l10n "shop.list.3" }}</li>
					</ul>
				</article>
			</section>

			{{ template "section-separator" "goodies" }}
			{{ template "more" . }}

		</main>
		{{ template "footer-home" . }}
	</body>
</html>
