<!DOCTYPE html>
<html lang='{{ l10n "lang" }}' dir="ltr">
	<head>
		{{ template "meta" . }}
		<link rel="stylesheet" href="/css/confirm.css" />
		<script src="/js/l10n.js"></script>
		<script src="/js/auth.js"></script>
	</head>

	<body>
		<main>
			<header>
				<img src="/img/logomono.svg" id="logo" />
				<div id="app-name">
					<span>{{ l10n "reset.title1"}}</span><span>{{ l10n "reset.title2"}}</span>
				</div>
			</header>
			<div class="msg hidden"></div>
			<p>{{ raw (l10n "reset.hint") }}</p>
			<form class="reset">
				<input type="hidden" name="token" value="{{ .token }}" />
				<label>{{ l10n "form.pass" }}</label>
				<input type="password" name="pass" />
				<label>{{ l10n "form.confirm" }}</label>
				<input type="password" name="pass" />
				<input type="submit" value='{{ l10n "form.reset" }}' />
			</form>
			<p><a href="/">{{ l10n "reset.return" }}</a></p>
		</main>
	</body>
</html>
