<!DOCTYPE html>
<html lang='{{ l10n "lang" }}' dir="ltr">
	<head>
		{{ template "meta" . }}
		<link rel="stylesheet" href="/css/home.css">
	</head>

	<body class="legal numbered">
		{{ template "header" . }}

		<main>
			<h1>{{ l10n "terms.head" }}</h1>

			{{ raw (l10n "terms.privacy" )}}

			<h2>{{ l10n "terms.warrantyhead" }}</h2>
			{{ raw (l10n "terms.warrantybody" )}}

			<h2>{{ l10n "terms.conducthead" }}</h2>
			{{ raw (l10n "terms.conductbody" )}}

			<h2>{{ l10n "terms.deletehead" }}</h2>
			{{ raw (l10n "terms.deletebody" )}}

			<h2>{{ l10n "terms.severhead" }}</h2>
			{{ raw (l10n "terms.severbody" )}}
		</main>

		{{ template "footer-home" . }}
	</body>
</html>
