@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"),
		url("/fonts/open-sans-v16-latin_latin-ext-300.woff2") format("woff2"),
		url("/fonts/open-sans-v16-latin_latin-ext-300.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 300;
	src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"),
		url("/fonts/open-sans-v16-latin_latin-ext-300italic.woff2") format("woff2"),
		url("/fonts/open-sans-v16-latin_latin-ext-300italic.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"),
		url("/fonts/open-sans-v16-latin_latin-ext-regular.woff2") format("woff2"),
		url("/fonts/open-sans-v16-latin_latin-ext-regular.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	src: local("Open Sans Italic"), local("OpenSans-Italic"),
		url("/fonts/open-sans-v16-latin_latin-ext-italic.woff2") format("woff2"),
		url("/fonts/open-sans-v16-latin_latin-ext-italic.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"),
		url("/fonts/open-sans-v16-latin_latin-ext-700.woff2") format("woff2"),
		url("/fonts/open-sans-v16-latin_latin-ext-700.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 700;
	src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"),
		url("/fonts/open-sans-v16-latin_latin-ext-700italic.woff2") format("woff2"),
		url("/fonts/open-sans-v16-latin_latin-ext-700italic.woff") format("woff");
}

:root {
	--border: 1px solid #aaaaaa;
	--border-light: 1px solid #e0e0e0;

	--color-background: #ffffff;
	--color-border-light: #e0e0e0;
	--color-placeholder: #c8c8c8;
	--color-primary: #13ad73;
	--color-primary-dark: #008d53;
	--color-primary-light: rgba(19, 173, 115, 0.3);
	--color-primary-lighter: rgba(19, 173, 115, 0.1);
	--color-secondary: #f2ac05;
	--color-secondary-dark: #d28c00;
	--color-secondary-light: rgba(242, 171, 5, 0.3);
	--color-secondary-lighter: rgba(242, 171, 5, 0.15);
	--color-spinner-secondary: rgba(0, 0, 0, 0.2);
	--color-spinner-primary: #000000;
	--color-text: #2c2c2c;
	--color-text-light: #808080;

	--color-bad: #db5343;
	--color-bad-light: rgba(219, 83, 67, 0.1);
	--color-good: #21ab53;
	--color-good-light: rgba(33, 171, 83, 0.1);
	--color-warn: #ffc107;
	--color-warn-light: rgba(255, 193, 7, 0.1);

	--font-stack: "Open Sans", Helvetica, Arial, sans-serif;

	--icon-check: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTYiIHdpZHRoPSIxNiIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTYgMTYiPjxwYXRoIGQ9Im0yLjM1IDcuMyA0IDRsNy4zLTcuMyIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIGZpbGw9Im5vbmUiLz48L3N2Zz4K);
	--icon-triangle-up: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld2JveD0iMCAwIDE2IDE2IiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiPjxwYXRoIGQ9Ik0xMiAxMEw4IDYgNCA5Ljk5NHoiIGZpbGw9IiMwMDAiLz48L3N2Zz4K);
	--icon-triangle-down: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld2JveD0iMCAwIDE2IDE2IiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiPjxwYXRoIGQ9Ik00IDZsNCA0IDQtMy45OTR6IiBmaWxsPSIjMDAwIi8+PC9zdmc+Cg==);
	--icon-wifi-off: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCIgZmlsbD0iIzAwMDAwMCI+PHBhdGggZD0iTTI0IC4wMWMwLS4wMSAwLS4wMSAwIDBMMCAwdjI0aDI0Vi4wMXpNMCAwaDI0djI0SDBWMHptMCAwaDI0djI0SDBWMHoiIGZpbGw9Im5vbmUiLz48cGF0aCBkPSJNMjIuOTkgOUMxOS4xNSA1LjE2IDEzLjggMy43NiA4Ljg0IDQuNzhsMi41MiAyLjUyYzMuNDctLjE3IDYuOTkgMS4wNSA5LjYzIDMuN2wyLTJ6bS00IDRjLTEuMjktMS4yOS0yLjg0LTIuMTMtNC40OS0yLjU2bDMuNTMgMy41My45Ni0uOTd6TTIgMy4wNUw1LjA3IDYuMUMzLjYgNi44MiAyLjIyIDcuNzggMSA5bDEuOTkgMmMxLjI0LTEuMjQgMi42Ny0yLjE2IDQuMi0yLjc3bDIuMjQgMi4yNEM3LjgxIDEwLjg5IDYuMjcgMTEuNzMgNSAxM3YuMDFMNi45OSAxNWMxLjM2LTEuMzYgMy4xNC0yLjA0IDQuOTItMi4wNkwxOC45OCAyMGwxLjI3LTEuMjZMMy4yOSAxLjc5IDIgMy4wNXpNOSAxN2wzIDMgMy0zYy0xLjY1LTEuNjYtNC4zNC0xLjY2LTYgMHoiLz48L3N2Zz4=);

	--shadow-menu: 0 0 8px #ccc;
	--shadow-button: 0 0 6px #888;

	--transition-move: 0.25s ease-in-out;
	--transition-style: 0.25s;
}

@media (prefers-color-scheme: dark) {
	:root {
	}
}

*,
*::before,
*::after {
	scrollbar-color: #bbb transparent;
	scrollbar-width: thin;
	box-sizing: border-box;
	font-weight: normal;
	margin: 0;
}

*::-webkit-scrollbar {
	width: 4px;
}

*::-webkit-scrollbar-thumb {
	background: #bbb;
}

*:focus,
*:active {
	outline: none;
}

html {
	scroll-behavior: smooth;
}

body {
	min-width: 350px;
	min-height: 100vh;
	overflow-x: hidden;
	color: var(--color-text);
	line-height: 1.5;
	font-family: var(--font-stack);
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

strong {
	font-weight: bold;
}

a {
	color: var(--color-primary);
	text-decoration: none;
}

hr {
	border: none;
	border-bottom: var(--border-light);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="date"],
input[type="time"],
input[type="number"],
select {
	display: block;
	line-height: 150%;
	font-size: 16px;
	font-family: var(--font-stack);
	color: var(--color-text);
	background-color: var(--color-background);
	padding: 0.5em;
	border: var(--border);
	border-radius: 4px;
	width: 100%;
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="email"]:focus,
input[type="email"]:active,
input[type="password"]:focus,
input[type="password"]:active,
input[type="search"]:focus,
input[type="search"]:active,
input[type="date"]:focus,
input[type="date"]:active,
input[type="time"]:focus,
input[type="time"]:active,
input[type="number"]:focus,
input[type="number"]:active,
select:focus,
select:active {
	border-color: var(--color-primary) !important;
}

/* nasty hack to detect Safari browsers */
@supports (background: -webkit-named-image(i)) {
	select {
		-webkit-appearance: none;
		background-image: var(--icon-triangle-down);
		background-repeat: no-repeat;
		background-position: right 4px center;
		background-size: 20px;
	}
}

select optgroup {
	font-size: 0.66rem;
}

select optgroup option {
	font-size: 1rem;
}

input[type="submit"],
input[type="button"],
button {
	--color-spinner-secondary: rgba(255, 255, 255, 0.3);
	--color-spinner-primary: #ffffff;
	display: block;
	line-height: 150%;
	font-size: 16px;
	font-family: var(--font-stack);
	padding: 0.5em;
	border: none;
	border-radius: 4px;
	width: 100%;
	background-color: var(--color-primary);
	color: #fff;
	transition: box-shadow var(--transition-style), background-color var(--transition-style);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

button.icon {
	--color-spinner-secondary: var(--color-primary-light);
	--color-spinner-primary: var(--color-primary);
	height: 2.5em;
	width: 2.5em;
	background: none;
	flex-shrink: 0;
}

button.icon > svg {
	width: 100%;
	height: 100%;
	display: block;
	fill: var(--color-primary);
}

input::placeholder {
	color: var(--color-placeholder);
}

@media (hover: hover) {
	input[type="submit"]:hover,
	input[type="button"]:hover,
	button:hover {
		box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.1);
	}
}

input[type="submit"]:active,
input[type="button"]:active,
button:active {
	box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.1);
}

input[type="submit"][disabled],
input[type="button"][disabled],
button[disabled] {
	background-color: #e0e0e0;
	pointer-events: none;
}

.hidden {
	display: none !important;
}

.spacer {
	flex-grow: 1;
}

.col50 {
	flex-basis: 45%;
}

button.async:after,
.spinner {
	font-size: 5px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-top: 1em solid var(--color-spinner-secondary);
	border-right: 1em solid var(--color-spinner-secondary);
	border-bottom: 1em solid var(--color-spinner-secondary);
	border-left: 1em solid var(--color-spinner-primary);
	border-radius: 50%;
	-webkit-animation: wait-anim 1.1s infinite linear;
	animation: wait-anim 1.1s infinite linear;
}

@-webkit-keyframes wait-anim {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes wait-anim {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

button.async {
	position: relative;
}

button.async:after {
	content: "";
	width: 2rem;
	height: 2rem;
	display: none;
}

button.async[disabled] {
	background-color: var(--color-primary);
	color: transparent;
}

button.icon.async[disabled] {
	background: none;
}

button.icon.async[disabled] > svg {
	opacity: 0;
}

button.async[disabled]:after {
	display: block;
}

body > .spinner-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #ffffff;
	z-index: 1;
}

body > .spinner-container > .spinner {
	width: 8rem;
	height: 8rem;
	font-size: 8px;
	position: fixed;
}
